$lightBlue: #00DAEC;
$darkBlue: #00DAEC;
$colorWhite: #FEFEFE;
$colorBorder: #00B4C3;
$colorFont: black;

body {
  margin: 0 auto;
  width: 500px;
  color: $colorWhite;
  border: 1px solid $colorBorder;
  color: $colorFont;
}



.headers {
  cursor: hand;
  margin: 0;
  background-color: $lightBlue;
  border: 1px solid $colorBorder;


  &:hover {
    background-color: #00C6D6;
  }
}

.sections {
      overflow: hidden;
      height: 160px;
      transition: height 2s ease;
  &.show {

      height: 27px;
      overflow: hidden;
    }




}

p {
  margin: 0;

}
